/*
	Main stylesheet for Cubricks Theme.
*/

/* =Structure
----------------------------------------------- */
body {
	padding: 0;
	margin: 0;
	color: #000;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height: 0;
	font-size: 13px;
	background-color: #f7f7f7;
}
#topbar-wrapper,
#branding,
#nav-wrapper,
#bricks-slider-wrapper,
#custom-header-wrapper,
#content-wrapper,
#footer-sidebar-wrapper,
#footer-wrapper {
	margin: 0 auto;
	width: 100%;
	display: inline-block;
	line-height: 1.5;
}
.inner-topbar,
.inner-header,
.inner-navigation,
.inner-content,
.inner-widget-footer,
.inner-footer,
#custom-header,
#main,
#headline-container,
.homepage-widget-area {
	margin: 0 auto;
	padding: 0 0.5%;
	max-width: 1024px;
	min-width: 700px;
}
.inner-slider {
	margin: 0 auto;
	padding: 0;
	max-width: 1024px;
	/*overflow: hidden;*/
}
#topbar-wrapper,
#content-wrapper,
#footer-wrapper {
	background: none;
}
#colophon {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
}
#access {
	width: 100%;
	margin: 0 auto;
}
#content > article,
#content > #comments,
#primary > #content .recent-posts,
article #post-0 {
	background: rgba(255,255,255,1);
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	padding: 0 0 2% 0;
}
#content > article.sharp-edges,
#content > article.no-shadow {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	padding: 0 0 2% 0;
}
#content > article #comments {
	margin: 0 3%;
	width: 94%;
}
#content > article #comments {
	margin: 0 3%;
	width: 94%;
}
.page-template-default #content > article #comments,
.single.singular-fullwidth #content > article #comments,
.one-column.page #content > article #comments {
	margin: 0;
	width: 100%;
}
.single.singular-fullwidth #content > article #comments {
	margin: 2% 0;
	width: 100%;
}
.left-post-shadow {
	background: url(../images/post_shadow.png) no-repeat 0% 100% scroll;
	width: 50%;
	height: 10px;
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	z-index: 2;
	overflow: hidden;
}
.right-post-shadow {
	background: url(../images/post_shadow.png) no-repeat 100% 100% scroll;
	width: 50%;
	height: 11px;
	display: block;
	position: absolute;
	right: 0;
	bottom: -10px;
	z-index: 2;
}
.post-no-shadow {
	background: url(../images/horizontal_sep.png) repeat-x 0% 0% scroll;
	width: 100%;
	height: 11px;
	display: block;
	position: absolute;
	right: 0;
	bottom: -11px;
	z-index: 2;
}
#custom-header-wrapper,
#bricks-slider-wrapper {
	overflow: hidden;
}
#headline-container {
	padding: 0;
	margin: 1.6% auto;
	width: 100%;
}
#headline-container .page-title {
	line-height: 1.5;
}
#primary,
.error404 #primary {
	float: left;
	margin: 0 -32% 0 0;
	width: 100%;
	padding: 0;
}
#content,
.error404 #primary #content {
	margin: 0 35% 0 0;
	width: 67%;
}
#secondary,
#content > .widget-area {
	float: right;
	padding: 0 0 2% 1.5%;
	width: 30%;
	background: url(../images/vertical_bg.png) repeat-y scroll 0% 0%;
}
#secondary,
#content > .widget-area {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	moz-border-top-left-radius: 6px;
	moz-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
}
#secondary > .widget-area,
#primary > #content .widget-area {
	background: rgba(255,255,255,1);
	border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px;
	-khtml-border-radius: 5px 5px;
	padding: 0 10px 5px 10px;
}
.widget-title {
	color: #E17009;
}

/* =Right content
----------------------------------------------- */
.left-sidebar #primary,
.error404.left-sidebar #primary,
.left-sidebar.page-template-sidebar-page-php #primary {
	float: right;
	margin: 0 0 0 -32%;
	width: 100%;
}
.left-sidebar #content,
.error404.left-sidebar #primary #content,
.left-sidebar.page-template-sidebar-page-php #primary #content {
	margin: 0 0 0 33.5%;
	width: 67%;
}
.left-sidebar #secondary,
.error404.left-sidebar #secondary,
.left-sidebar.page-template-sidebar-page-php #secondary {
	float: left;
	padding: 0 1.5% 0 0;
	width: 30%;
	background: url(../images/vertical_bg.png) repeat-y scroll 100% 0%;
}

/* =Singular
-------------------------------------------- */
.single.singular-fullwidth #primary {
	margin: 0;
}
.page-template-default #primary #content,
.left-sidebar.page-template-default #primary #content,
.page-template-slider-homepage-php #primary #content {
	width: 100%;
	margin: 0 auto;
}
.single.singular-fullwidth #primary #content,
.single.singular-fullwidth footer.entry-meta {
	margin: 0;
	position: relative;
	width: 100%;
}
.single.singular-fullwidth .entry-header {
	margin: 2% auto;
	width: 90%;
}
.single.singular-fullwidth #comments-title {
	margin: 0 auto;
	width: 100%;
}
.page-template-default .entry-header,
.one-column.page-template-sidebar-page-php .entry-header,
.one-column.page-template-category-page-php .entry-header {
	margin-bottom: 2.6%;
	padding: 0;
}
	
/* One column */
.one-column #primary #content {
	margin: 0 auto;
	width: 100%;
}
.one-column #bricks-slider-wrapper {
	margin: 0 auto;
	width: 100%;
}
.one-column #nav-below {
	margin-bottom: 1.6%;
}
.one-column #secondary {
	float: none;
	margin: 0 2.6%;
	width: auto;
}
	
/* Attachments */
.attachment .navigation-attachment {
	background: rgba(255,255,255,1);
	border-radius: 6px 6px;
	-moz-border-radius: 6px 6px;
	-webkit-border-radius: 6px 6px;
	-khtml-border-radius: 6px 6px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	display: inline-block;
	padding: 3%;
	margin: 2% 0;
	width: 94%;
}
p.attachment-image {
	text-align: center;
	margin: 0 auto;
}
.singular .image-attachment .entry-content {
	margin: 0 auto;
	width: auto;
	display: block;
}
.singular .image-attachment .entry-description {
	margin: 0 auto;
	width: 100%;
	display: block;
}
#content > article.format-standard .entry-content a:hover img,
.page #content > article .entry-content a:hover img,
#content > article .entry a:hover img {
	opacity: 0.8;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.6%;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.6%;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Remove the margin on singular articles */
.one-column.singular .entry-content,
.one-column.singular footer.entry-meta,
.one-column.singular #comments-title {
	padding: 1% 0;
	width: 100%;
}

/* Simplify the pullquotes and pull styles */
.one-column.singular blockquote.pull {
	margin: 0 0 1.6%;
}
.one-column.singular .pull.alignleft {
	margin: 0 1.6% 0;
}
.one-column.singular .pull.alignright {
	margin: 0 0 0 1.6%;
}
.one-column.singular #author-info {
	margin: 2.2% -8.8% 0;
	padding: 20px 8.8%;
}
/* Make sure we have room for our comment avatars */
.one-column .commentlist > li.comment {
	margin-left: 102px;
	width: auto;
}
/* Talking avatars take up too much room at this size */
.one-column .commentlist > li.comment {
	margin-left: 0;
}
.one-column .commentlist > li.comment .comment-meta,
.one-column .commentlist > li.comment .comment-content {
	margin-right: 85px;
}
.one-column #respond {
	width: auto;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
h1, h2 {
	font-weight: normal;
}
h3, h4, h5, h6 {
	font-weight: bold;
}
.entry-content h1 {
	font-size: 150%;
	line-height: 1.2;
}
.entry-content h2 {
	font-size: 133%;
	line-height: 1.3;
}
.entry-content h3 {
	font-size: 100%;
	text-transform: uppercase;
	line-height: 1.6;
}
.entry-content h4 {
	font-size: 100%;
	font-weight: bold;
}
.entry-content h5 {
	font-size: 100%;
	font-weight: bold;
}
.entry-content h6 {
	font-size: 100%;
	font-weight: bold;
}
hr {
	background: #FFF;
	border: 0;
	border-top: 1px solid #CCC;
	height: 1px;
	margin: 1.6% 0;
	clear: both;
}

/* Text elements */
p {
	margin-bottom: 1.6%;
}
ul, ol {
	margin: 1.6% 3%;
	list-style-position: outside;
}
ul {
	list-style: disc;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin: 0 3%;
}
dl {
	margin: 0 3%;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.6%;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	border-left: 3px solid #afd5f0;
	margin-left: 15px;
	padding-right: 15px;
	padding-left: 10px;
	margin: 1% 3% 2% 3%;
}
blockquote.quote {
	font: italic normal 13px/1.5 Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3%;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {	
	font: 12px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #f4f4f4;
	font: normal 13px/1.5 "Courier 10 Pitch", Courier, monospace;
	margin-bottom: 1.6%;
	overflow: auto;
	padding: 0.75% 1.6%;
}
code, kbd {
	font: 13px/1.5 Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.6%;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Links */
a {
	color: #1E598E;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
embed,
iframe,
object,
video {
	max-width: 100%; /* Make sure videos and embeds fit their containers */
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
#content > article.format-standard img[class*="align"],
#content > article.format-standard img[class*="wp-image-"] {
	border: 1px solid #DDD;
	padding: 1%;
	max-width: 97.5%;
}
.entry-content img.alignleft,
.entry-content .wp-caption.alignleft {
	float: left;
	margin: 0 1.6% 1.6% 0;
}
.entry-content img.alignnone,
.entry-content .wp-caption.alignnone {
	float: left;
	margin: 0;
}
.entry-content img.alignright,
.entry-content .wp-caption.alignright {
	float: right;
	margin: 0 0 1.6% 1.6%;
}
img.size-full,
img.size-large,
img[class*="align-"],
img[class*="wp-image-"] {
	height: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content .wp-caption {
	max-width: 100%;
}
.attachment #content > article .attachment-image {
	width: auto;
	overflow: hidden;
}
p img,
.wp-caption {
	margin: 0 auto;
}
.wp-caption {
	width: 100%;
	height: auto!important;
	background: #CCCCCC;
	margin-bottom: 1.6%;
}
.format-image .wp-caption {
	width: 100%!important;
	height: auto!important;
}
.format-image .wp-caption img {
	margin: 0 auto;
	width: 100%!important;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	color: #666;
	font-family: Georgia, serif;
	font-size: 12px;
	text-align: left;
}
.wp-caption .wp-caption-text {
	margin: 0 2%;
	padding: 10px 0 10px 20px;
	position: relative;
	text-align: left;
	font-style: normal;
}
.wp-caption .wp-caption-text:before {
	color: #666;
	content: '\2014';
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin-right: 5px;
	position: absolute;
	left: 0;
	top: 7px;
}

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 2%;
}

/* =Site Header
----------------------------------------------- */
#site-header {
	clear: both;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
}
#site-header ul {
	font-size: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
#site-header li {
	float: left;
	position: relative;
}
#site-header span.site-title {
	font-weight: 700;
	font-size: 28px;
}
#site-header span.site-description {
	color: #eeeeee;
	display: block;
	font-size: 100%;
	margin-top: -1%;
	clear: both;
}
#site-header a {
	color: #f9f9f9;
	text-decoration: none;
}

/* =Header
----------------------------------------------- */
#branding {
	position: relative;
	z-index: 2;
}
#site-header .header-logo {
	margin: 0.82% 0;
	float: left;
	padding: 0;
	margin-right: 1%;
	width: auto;
}
#site-header .site-title {
	float: left;
	clear: both;
}
.site-title a {
	color: #F9F9F9;
	font-weight: bold;
	text-decoration: none;
}
.site-title a:hover,
.site-title a:focus,
.site-title a:active {
	color: #F9F9F9;
}
.site-description {
	float: left;
	margin-left: 2px;
}

/* =Social Icons
-------------------------------------------------------------- */
#social-media-header-right {
	min-width: 30%;
	display: block;
	float: right;
	margin: 0 auto;
	padding: 0 1% 1% 1%;
}
#social-media-before-sidebar {
	display: block;
	float: right;
	width: 96%;
	padding: 2%;
}
#social-media-before-sidebar ul {
	list-style: none;
	margin: 0;
}
#social-media-header-right ul,
#social-media-before-footer ul {
	list-style: none;
	margin: 5px 0 0 -0.8125%;
	padding-left: 0;
}
#social-media-header-right li,
#social-media-before-sidebar li {
	float: right;
	position: relative;
	margin-left: 1.5%;
}
.left-sidebar #social-media-before-sidebar li {
	float: left;
	margin-right: 1.5%;
}
#social-media-header-right a,
#social-media-before-sidebar a {
	display: block;
	text-decoration: none;
	padding: 16px;
}
li.facebook a {
	background: url(../images/icons/social/facebook_dark.png) no-repeat scroll;
}
li.twitter a {
	background: url(../images/icons/social/twitter_dark.png) no-repeat scroll;
}
li.flickr a {
	background: url(../images/icons/social/flickr_dark.png) no-repeat scroll;
}
li.google a {
	background: url(../images/icons/social/google_dark.png) no-repeat scroll;
}
li.tumblr a {
	background: url(../images/icons/social/tumblr_dark.png) no-repeat scroll;
}
li.youtube a {
	background: url(../images/icons/social/youtube_dark.png) no-repeat scroll;
}
li.rss-feed a {
	background: url(../images/icons/social/rss_dark.png) no-repeat scroll;
}

li.facebook a:hover {
	background: url(../images/icons/social/facebook_active.png) no-repeat scroll;
}
li.twitter a:hover {
	background: url(../images/icons/social/twitter_active.png) no-repeat scroll;
}
li.flickr a:hover {
	background: url(../images/icons/social/flickr_active.png) no-repeat scroll;
}
li.google a:hover {
	background: url(../images/icons/social/google_active.png) no-repeat scroll;
}
li.tumblr a:hover {
	background: url(../images/icons/social/tumblr_active.png) no-repeat scroll;
}
li.youtube a:hover {
	background: url(../images/icons/social/youtube_active.png) no-repeat scroll;
}
li.rss-feed a:hover {
	background: url(../images/icons/social/rss_active.png) no-repeat scroll;
}

/* =Topbar Navigation Menu
-------------------------------------------------------------- */
#topbar-wrapper {
	background: #2A2A2A;
	padding: 1px 0 0;
	font-size: 11px;
	position: relative;
	-webkit-box-shadow: #333 0 0 2px;
	-moz-box-shadow: #333 0 0 2px;
	box-shadow: #333 0 0 2px;
}
#topbar {
	font-family: Palatino, "Palatino Linotype," Georgia, Times New Roman, Times, serif;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
}
#topbar ul {
	font-size: 100%;
	list-style: none;
	margin: 0 0 0 -12px;
	padding-left: 0;
}
#topbar li {
	float: left;
	position: relative;
	
}
#topbar a {
	color: #f9f9f9;
	display: block;
	padding: 8px 17px 9px 12px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	transition: background .1s ease;
}
#topbar ul ul {
	background: #2A2A2A;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 2px 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	left: 0;
	width: 188px;
	z-index: 99999;
	-moz-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-ms-border-bottom-left-radius: 3px;
	-o-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-ms-border-bottom-right-radius: 3px;
	-o-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-bottom: 8px;
}
#topbar ul ul ul {
	left: 100%;
	top: 0;
}
#topbar ul ul a {
	display: block;
    padding: 8px 20px 8px 12px;
	white-space: nowrap;
	width: 152px;
	font-weight: normal;
	overflow: hidden;
}
#topbar li:hover > a,
#topbar a:focus {
	color: #f9f9f9;
}
#topbar ul li:hover > ul {
	display: block;
}
#topbar ul li > ul li a:hover {
	background: #747474;
	width: 152px;
	color: #f9f9f9;
}
#topbar .current-menu-item > a,
#topbar .current-menu-ancestor > a,
#topbar .current_page_item > a,
#topbar .current_page_ancestor > a {
	color: #F89100;
}
#topbar .current-menu-item,
#topbar .current-menu-ancestor,
#topbar .current_page_item,
#topbar .current_page_ancestor {
	color: #F89100;
}
#topbar .site-admin {
	float: right;
	padding: 0;
}

/* =Primary Navigation Menu
-------------------------------------------------------------- */
#access {
	clear: both;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
}
#access ul {
	font-size: 100%;
	list-style: none;
	margin: 0 0 0 -1.125%;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
}
#access a {
	color: #40668C;
	display: block;
	padding: 5px 20px 5px 12px;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	transition: background .1s ease;
}
#access ul ul {
	background: #F3F6F9;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 2px 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	left: 0;
	width: 188px;
	z-index: 99999;
	-moz-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-ms-border-bottom-left-radius: 3px;
	-o-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-ms-border-bottom-right-radius: 3px;
	-o-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-bottom: 8px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
	-moz-border-radius: 3px;
	-webkit-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	z-index: 99999;
	position: absolute;
}
#access ul ul a {
	display: block;
    padding: 5px 20px 5px 12px;
	width: 156px;
	font-weight: normal;
}
#access li:hover > a,
#access a:focus {
	color: #F89100;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li > ul li a:hover {
	color: #40668C;
	background: #FFFFFF;
	width: 156px;
	padding: 5px 20px 5px 12px;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
	color: #F89100;
}
#access .current-menu-item,
#access .current-menu-ancestor,
#access .current_page_item,
#access .current_page_ancestor {
	color: #F89100;
}

/* =Content
----------------------------------------------- */
#main {
	clear: both;
}
.entry-header .entry-format {
	color: rgba(102,102,102,0.8);
	font-size: 100%;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 1.625;
	text-transform: uppercase;
	float: right;
	margin-top: -5px;
}
.entry-header {
	float: left;
	margin: 2% 0 1%;
	padding: 0;
}
.page-template-category-page-php .entry-header,
.page-template-sidebar-page-php .entry-header,
.page-template-content-slider-php .entry-header {
	margin: 2% 0 3%;
	padding: 0 3%;
}
.entry-date > .entry-header,
.page-template-showcase-php .entry-header {
	width: 75%;
}
.single .entry-header {
	width: 85%;
	font-size: 100%;
}
.single .entry-header.text {
	width: 95%;
	font-size: 100%;
}
.single.attachment .entry-header {
	width: 94%;
	font-size: 70%;
	padding: 0 3%;
}
.two-column.single-attachment .entry-header {
	margin-top: 3%;
}
.singular-fullwidth.attachment .entry-header {
	margin: 0;
	padding: 2% 1.5% 0 0;
}
.author.archive .entry-header,
.search.search-results .entry-header {
	width: 75%;
	margin: 11px 0 0 0;
	background: none;
}
.author.archive > .entry-header hgroup,
.search.search-results > .entry-header hgroup {
	padding: 0;
}
.blog .entry-header,
.archive .entry-header {
	background: url(../images/graylines.gif) repeat-x scroll 0% 100%;
	width: 94%;
	margin: 1.65% 3% 1% 3%;
	padding-bottom: 1%;
}
.entry-title,
.entry-title a {
	font-size: 160%;
	font-weight: 600;
	line-height: 1.2;
	color: #222;
	text-decoration: none;;
	text-align: left;
}

/*= .entry-date .graphic
----------------------------------------------- */
.entry-date.graphic {
	background: -moz-linear-gradient(#3993D1, #055CA1) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #3993D1, #055CA1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3993D1), to(#055CA1)); /* older webkit syntax */
	background: -webkit-linear-gradient(top, #3993D1, #055CA1);
	border: 1px solid #2375AF;
	border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px;
	-khtml-border-radius: 5px 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	padding-top: 2px;
	min-height: 46px;
	width: 48px;
	font: normal 150% Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	line-height: 0.9;
	overflow: hidden;
}
.graphic span.day {
	font: bold normal 18px/1.1 Arial, Helvetica, sans-serif;
	padding-top: 2px;
	color: #fff;
	display: block;
}
.graphic span.month {
	font: normal 11px/1.0 Arial, Helvetica, sans-serif;
	color: #fff;
	display: block;
}
.graphic span.year {
	font: normal 11px/1.0 Arial, Helvetica, sans-serif;
	color: #fff;
	display: block;
}
.entry-date.graphic,
.entry-header.text {
	margin: 2% 1% 1% 3%;
	position: relative;
	float: left;
}
.singular-fullwidth #content .entry-date.graphic,
.singular-fullwidth #content .entry-header.text {
	margin: 2% 1.5% 0 0;
}
.entry-header.text .entry-title {
	margin-bottom: 0.625%;
}
.post .entry-date text {
	font: normal small-caps 12px/1.5 Arial, Helvetica, sans-serif;
	color: #666;
	margin-top: 10px;
}

/* =Page Title
----------------------------------------------- */
.archive-header,
.search-header {
	width: 100%;
}
.left-sidebar .archive-header,
.left-sidebar .search-header {
	float: right;
	width: 67%;
}
.archive-header .page-title,
.page-header .author,
.search-header .page-title {
	color: #40668C;
}
.page-title,
.page-title a,
.showcase-heading,
.archive-heading,
.search-heading {
	color: #222;
	line-height: 1.5;
	text-decoration: none;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
}
.hentry,
.no-results,
.not-found {
	margin: 0 0 6%;
	padding: 0;
	position: relative;
}
.single-post .hentry {
	margin: 0;
}
.page-template-content-slider-php #primary,
.page-template-content-slider-php #secondary {
	margin-top: 10px;
}
.hentry:last-child,
.no-results {
	border-bottom: none;
}
.blog .sticky .entry-header .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
article .footer-meta-hr {
	background: url(../images/small-diagonals.png) repeat scroll;
	height: 5px;
	padding: 0 3%;
}
article footer.entry-meta,
.singular article .entry-meta,
.one-column.page-template-showcase-php article .entry-meta,
.one-column.page-template-content-slider-php article .entry-meta,
.page-template-category-page-php article .entry-meta {
	padding: 1% 3%;
	margin: 1%;
}
.singular-fullwidth article .entry-meta,
.page-template-default article .entry-meta {
	padding: 1.5% 0;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	color: #1982d1;
}
.entry-meta:first-child {
	margin: 0 5px;
}
.single article.entry-meta,
article .entry-meta {
	font: normal normal 12px/1.625 Arial, Helvetica, sans-serif;
	margin: 0;
	color: #555;
	clear: both;
}
.single .entry-meta p,
.entry-meta p {
	color: #757575;
}
.single .entry-meta a,
.entry-meta a {
	color: #1E598E;
}
.single .entry-meta a:hover,
.entry-meta a:hover {
	color: #CC6600;
}
.single-author .entry-meta .by-author {
	display: none;
}
.single #content > article .entry-content {
	padding: 1.65% 0;
}
.entry-content h1,
.entry-content h2,
.comment-content h1,
.comment-content h2 {
	color: #000;
	font-weight: bold;
	margin: 0 0 .8125%;
}
article .sticky h1 {
	text-indent: 0px;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ddd;
	margin: 0 0 3%;
	width: 100%;
}
.entry-content th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6;
	text-transform: uppercase;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ddd;
	padding: 6px 10px 6px 0;
}
.entry-content #s {
	width: 75%;
}
.comment-content ul,
.comment-content ol {
	margin-bottom: 1.6%;
}
.comment-content ul ul,
.comment-content ol ol,
.comment-content ul ol,
.comment-content ol ul {
	margin-bottom: 0;
}
dl.gallery-item {
	margin: 0;
}
.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.6%;
}
.page-link a {
	background: #eee;
	color: #373737;
	margin: 0;
	padding: 2px 3px;
	text-decoration: none;
}
.page-link a:hover {
	background: #888;
	color: #fff;
	font-weight: bold;
}
.page-link span {
	margin-right: 6px;
}

/* Author Info */
#author-info {
	overflow: hidden;
	width: 94%;
	margin: 2% 3%;
}
.singular #author-info {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 2.2em -35.6% 0 -35.4%;
	padding: 20px 35.4%;
}
.singular-fullwidth #author-info {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 2%;
	margin: 0;
	width: 96%;
}
.archive #author-info {
	background: rgba(255,255,255,1);
	border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px;
	-khtml-border-radius: 5px 5px;
	margin: 1% 0 1.6% 0;
	padding: 10px 3%;
}
#author-avatar {
	float: left;
	margin-right: -118px;
}
#author-avatar img {
	background: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	padding: 3px;
}
#author-description {
	float: left;
	margin-left: 118px;
	text-align: justify;
	font-size: 90%;
}
#author-description h2 {
	color: #000;
	font-size: 17px;
	font-weight: bold;
	margin: 0 0 10px 0;
}
#author-link {
	margin-top: 10px;
}

/* Comments link */
.comments-link a {
	background: -moz-linear-gradient(#3993D1, #055CA1) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #3993D1, #055CA1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3993D1), to(#055CA1)); /* older webkit syntax */
	background: -webkit-linear-gradient(top, #3993D1, #055CA1);
    border: 1px solid #2375AF;
    border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    color: white;
    font-family: 'Trebuchet MS',Arial,sans-serif;
    font-size: 12px;
    margin: 0 3px 3px;
    padding: 5px 7px 4px;
    position: relative;
}
.comments-link a:hover {
	background: -moz-linear-gradient(#055CA1, #3993D1) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #055CA1, #3993D1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#055CA1), to(#3993D1)); /* older webkit syntax */
	background: -webkit-linear-gradient(top, #055CA1, #3993D1);
    border: 1px solid #2375AF;
    border-radius: 2px 2px;
    color: white;
    position: relative;
    text-decoration: none;
}
.entry-header .comments-link a {
	background: #eee url(../images/comment-bubble.png) no-repeat;
	color: #666;
	font-size: 13px;
	font-weight: normal;
	line-height: 35px;
	overflow: hidden;
	padding: 0 0 0;
	position: absolute;
	top: 1.5em;
	right: 1em;
	text-align: center;
	text-decoration: none;
	width: 43px;
	height: 36px;
}
.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active {
	background-color: #1982d1;
	color: #fff;
	color: rgba(255,255,255,0.8);
}
.entry-header .comments-link .leave-reply {
	visibility: hidden;
}
blockquote.pull {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.6125em;
	margin: 0 0 1.6%;
	text-align: center;
}
.singular blockquote.pull {
	margin: 0 -22.25% 1.6%;
}
.pull.alignleft {
	margin: 0 1.6% 0 0;
	text-align: right;
	width: 33%;
}
.singular .pull.alignleft {
	margin: 0 1.6% 0 -22.25%;
}
.pull.alignright {
	margin: 0 0 0 1.6%;
	text-align: left;
	width: 33%;
}
.singular .pull.alignright {
	margin: 0 -22.25% 0 1.6%;
}
.singular blockquote.pull.alignleft,
.singular blockquote.pull.alignright {
	width: 33%;
}
.entry-meta .edit-link a,
.single .edit-link a,
.page .edit-link a {
	background: #E3EDF4;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	color: #666;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: 300;
	text-decoration: none;
	padding: 2px 8px;
}
.entry-meta .edit-link a:hover,
.single .edit-link a:hover,
.page .edit-link a:hover {
	background: #117cc8;
	color: #fff;
}

/* =Navigation
-------------------------------------------------------------- */
#content nav {
	clear: both;
	overflow: visible;
	margin: 3% 0;
	float: left;
	width: 100%;
}
#content nav.pagination.single .previous,
#comment-nav-above .nav-previous {
	float: left;
	width: 50%;
}
#content nav.pagination.single .next,
#comment-nav-above .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content nav .meta-nav {
	font-weight: normal;
}
#content .entry-content .pagination {
	padding: 1.6% 0;
	clear: both;
}

/* Singular navigation */
#nav-single {
	position: relative;
	z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
	float: none;
	width: auto;
}
#nav-single .nav-next {
	padding-left: .5em;
}
#content nav a.page-numbers.prev,
#content nav a.page-numbers.next,
#content nav span.previous a,
#content nav span.next a,
#content nav span.page-numbers.current,
#comment-nav-above .nav-previous a,
#comment-nav-above .nav-next a {
	border: 1px solid #4D90FE;
	border-bottom-color: #20559A;
    background: -moz-linear-gradient(#4D90FE, #055CA1) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4D90FE, #055CA1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4D90FE), to(#055CA1)); /* older webkit syntax */
	background: -webkit-linear-gradient(top, #4D90FE, #055CA1);
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 7px 6px;
    position: relative;
    text-shadow: 1px 0 #0065B2;
    text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
#content nav a.page-numbers.prev:hover,
#content nav a.page-numbers.next:hover,
#content nav span.previous a:hover,
#content nav span.next a:hover,
#comment-nav-above .nav-previous a:hover,
#comment-nav-above .nav-next a:hover {
	background: -moz-linear-gradient(#055CA1, #4D90FE) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #055CA1, #4D90FE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#055CA1), to(#4D90FE)); /* older webkit syntax */
	background: -webkit-linear-gradient(top, #055CA1, #4D90FE);
    border: 1px solid #E3EDF4;
	border-bottom-color: #20559A;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
    color: #FFFFFF;
    position: relative;
    text-decoration: none;
	padding: 5px 7px 6px;
}
#content nav a.page-numbers {
	background: -moz-linear-gradient(#F7F7F7, #E3EDF4) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #F7F7F7, #E3EDF4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#E3EDF4)); /* older webkit syntax */
	background: -webkit-linear-gradient(top, #F7F7F7, #E3EDF4);
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #545454;
    font-family: 'Trebuchet MS',Arial,sans-serif;
    font-size: 12px;
    margin: 0 3px 3px;
    padding: 5px 7px 4px;
    position: relative;
	border: 1px solid #E3EDF4;
}
#content nav a.page-numbers:hover {
	background: -moz-linear-gradient(#CCCCCC, #9B9B9B) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #CCCCCC, #9B9B9B);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC), to(#9B9B9B)); /* older webkit syntax */
	background: -webkit-linear-gradient(top, #CCCCCC, #9B9B9B);
	border: 1px solid #E3EDF4;
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #545454;
    font-family: 'Trebuchet MS',Arial,sans-serif;
    font-size: 12px;
    margin: 0 3px 3px;
    padding: 5px 7px 4px;
    position: relative;
	text-decoration: none;
}
nav.single-top {
	float: right;
	position: relative;
	top: 0.5em;
	text-align: right;
	z-index: 1;
}

/* =Comments
----------------------------------------------- */
#comments-title {
	color: #1E598E;
	font-size: 16px;
	line-height: 1.6%;
	padding: 2% 0;
	text-transform: uppercase;
}
.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
#content .commentlist {
	list-style: none;
	margin: 8% 0 0 17.5%;
	width: 82.5%;
}
.page-template-default #content .commentlist {
	list-style: none;
	margin: 8% 0 0 17.5%;
	width: 82.5%;
}
.page-template-sidebar-page-php #content .commentlist {
	list-style: none;
	margin: 8% 0 0;
	width: 100%; /* reset the width for the one-column and sidebar page wrapper */
}
.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 6%;
	padding: 2.6%;
	position: relative;
}
.commentlist .pingback {
	margin: 0 0 1.6%;
	padding: 0 1.6%;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #83A4CC;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-khtml-border-radius: 0 3px 3px 0;
	margin: 5% 0 0 0;
	padding: 3% 1.6%;
	position: relative;
}
.commentlist .children li.comment.even {
	background: #F6F6F6;
}
.commentlist .children li.comment .fn {
	margin: 0 0 0 5px;
}
.commentlist .children li.comment .edit-link {
	display: inline;
}
.commentlist > .children article.comment {
	padding: 1% 0;
}
.commentlist .children .comment-content {
	margin: 9% auto 1% auto;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.6;
	margin: 10px 50px;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.6;
	margin: 0 0 0 50px;
}
.commentlist .children li.comment .comment-author {
	margin: 0 5px 0 5px;
}
.comment-meta a {
	font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist > .children .edit-link {
	display: block;
}
.commentlist .avatar {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: -102px;
	padding: 0;
	position: absolute;
	top: 0;
}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	padding: 0;
	position: absolute;
	top: 2.2%;
	left: 1.8%;
}
a.comment-reply-link {
	background: #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #ddd;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active,
li.bypostauthor a.comment-reply-link:hover,
li.bypostauthor a.comment-reply-link:focus,
li.bypostauthor a.comment-reply-link:active {
	background: #888;
	color: #fff;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	/*background: #ddd;*/
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	/*background: #ddd;*/
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	background: #EEE;
	border: 1px solid #EEE;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	margin: 10px auto;
	padding: 3% 3% 4.5% 3%;
	position: relative;
	width: 94%;
}
#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 40px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 45px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin: 10px 0;
	clear: both;
}
#respond .form-submit {
	float: right;
	margin: -20px 0 10px;
}
#respond input#submit {
	background: #222;
	float: right;
	clear: both;
	width: 90%;
	height: 32px;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	margin: 10px;
	position: relative;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active {
	background: #1982d1;
	color: #40220c;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.6% 0 0;
	width: auto;
}
#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.6%;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1%;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 75%;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}
.rtl #respond .comment-form-author label,
.rtl #respond .comment-form-email label,
.rtl #respond .comment-form-url label,
.rtl #respond .comment-form-comment label {
	-webkit-box-shadow: -1px 2px 2px rgba(51,51,51,0.8);
	-moz-box-shadow: -1px 2px 2px rgba(51,51,51,0.8);
	box-shadow: -1px 1px 2px rgba(51,51,51,0.8);
}

/* =Footer
----------------------------------------------- */
#footer-container {
	background: none repeat scroll 0 0 transparent !important;
    clear: both;
    margin-top: 14px;
}
#footer-logo {
    color: #666666;
    float: left;
    font-size: 11px;
    margin: 0;
    padding: 10px 2% 0 0;
    position: relative;
}
#footer-main {
	padding: 10px 0;
	margin: 0;
	overflow: hidden;
}
#copyright-notice {
	overflow: hidden;
	width: auto;
	float: left;
}
#footer-ads {
	min-width: 480px;
	height: auto;
	float: right;
	margin-top: 1%;
}

/* Footer Navigation */
#footer nav {
	margin: 0 auto;
	clear: both;
	overflow: visible;
	padding: 1% 0 0 0;
	float: left;
	width: 100%;
}
#footer-navmenu ul {
	float: left;
	list-style: none;
	line-height: 1;
	margin: 0.5%;
}
#footer-navmenu li,
#footer-navmenu a {
	color: #1E598E;
}
#footer-navmenu li {
	float: left;
	position: relative;
	margin: 0.5% 0;
}
#footer-navmenu a {
	display: block;
	padding: 0 7px;
	font-weight: 600;
	text-decoration: none;
}
#footer-navmenu a:hover,
#footer-navmenu a:active,
#footer-navmenu a:focus {
	text-decoration: underline;
	color: rgba(225, 112, 9, 1);
}

/* Site Generator Line */
#site-generator {
	color: #757575;
	line-height: 1.2;
	padding: 1.2% 0.5% 0 0.5%;
	text-align: center;
	float: right;
}
#site-generator a {
	color: #555;
	font-weight: bold;
}
#site-generator .sep {
	background: url(../images/wordpress.png) center left no-repeat scroll;
	color: transparent;
	display: inline-block;
	height: 16px;
	line-height: 16;
	margin: 0 7px;
	width: 16px;
}
#copyright-notice p {
	font-size: 12px;
	color: #757575;
	line-height: 1.225;
	float: left;
	margin: 0;
}

/* Plugins */
.sharing {
	clear: both;
}
html div#topcontrol {
	background: #638EBC url(../images/top-scroll.png) no-repeat scroll 50% 50%;
	width: 48px;
	height: 48px;
	-moz-transition: bottom 250ms ease-in-out 0s;
    bottom: -10px;
    right: 15px;
    border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
}
html div#topcontrol:hover {
	background: url(../images/top-scroll-hover.png) no-repeat scroll 50% 50%;
}
#content > article .entry-content form {
	padding: 2% 3%;
	margin-bottom: 1.625em;
}
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			5px;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top: 30%;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
	background-position: -10px 0;
}
.sf-menu ul a > .sf-sub-indicator {
	background-position: 0 0;
}
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}