/*
	Stylesheet for Bricks Theme page templates.
*/

/* =Showcase
----------------------------------------------- */
#bricks-slider {
}

.inner-slider {
	overflow: hidden;
	width: auto;
	height: 340px;
}