/*
	Post format styling for Bricks Theme.
*/

/* =Post Format Containers
----------------------------------------------- */



/* =Post Format Icons
----------------------------------------------- */
.entry-format-standard, .entry-format-aside, .entry-format-image, .entry-format-gallery, .entry-format-video, .entry-format-audio, .entry-format-link, .entry-format-quote, .entry-format-chat, .entry-format-status, .entry-format-featured {
	float: right;
	margin: 10px;
}
.entry-format-standard {
	background: url(../images/postformats/standard-icon.png) no-repeat scroll 50% 50%;
	padding: 15px 15px;
}
.entry-format-aside {
	background: url(../images/postformats/aside-icon.png) no-repeat scroll 50% 50%;
	padding: 15px 15px;
}
.entry-format-audio {
	background: url(../images/postformats/audio-icon.png) no-repeat scroll 50% 50%;
	padding: 20px 15px;
}
.entry-format-chat {
	background: url(../images/postformats/chat-icon.png) no-repeat scroll 70% 50%;
	padding: 15px 15px;
}
.entry-format-featured {
	background: url(../images/postformats/featured-icon.png) no-repeat scroll 0% 50%;
	padding: 15px 15px;
}
.entry-format-gallery {
	background: url(../images/postformats/gallery-icon.png) no-repeat scroll 50% 50%;
	padding: 15px 15px;
}
.entry-format-image {
	background: url(../images/postformats/image-icon.png) no-repeat scroll 50% 50%;
	padding: 15px 15px;
}
.entry-format-link {
	background: url(../images/postformats/link-icon.png) no-repeat scroll 70% 50%;
	padding: 15px 15px;
}
.entry-format-quote {
	background: url(../images/postformats/quote-icon.png) no-repeat scroll 70% 50%;
	padding: 15px 15px;
}
.entry-format-status {
	background: url(../images/postformats/status-icon.png) no-repeat scroll 50% 50%;
	padding: 15px 15px;
}
.entry-format-video {
	background: url(../images/postformats/video-icon.png) no-repeat scroll 50% 50%;
	padding: 15px 15px;
}



/* =Footer Meta
----------------------------------------------- */
.entry-meta .tags {
	background: url(../images/postformats/tag.png) no-repeat scroll 0% 50%;
	padding: 8px 12px 8px 8px;
}
.entry-meta .comments-link {
	background: url(../images/postformats/comment.png) no-repeat scroll 0% 50%;
	padding: 8px 16px 8px 8px;
}
.entry-meta .edit-link {
	margin-left: 5px;
}
.page .entry-meta .edit-link {
	float: right;
}
.entry-meta .edit-icon {
	background: url(../images/postformats/edit.png) no-repeat scroll 0% 50%;
	padding: 8px 12px;
}
.entry-meta .article-post {
	background: url(../images/postformats/article.png) no-repeat scroll 0% 50%;
	padding: 8px 22px 8px 0;
}
.entry-meta .aside-post {
	background: url(../images/postformats/aside.png) no-repeat scroll 0% 50%;
	padding: 8px 22px 8px 0;
}
.entry-meta .audio-post {
	background: url(../images/postformats/audio.png) no-repeat scroll 0% 50%;
	padding: 8px 22px 8px 0;
}
.entry-meta .chat-post {
	background: url(../images/postformats/chat.png) no-repeat scroll 0% 50%;
	padding: 8px 22px 8px 0;
}
.entry-meta .gallery-post {
	background: url(../images/postformats/gallery.png) no-repeat scroll 0% 50%;
	padding: 8px 22px 8px 0;
}
.entry-meta .link-post {
	background: url(../images/postformats/link.png) no-repeat scroll 0% 50%;
	padding: 8px 22px 8px 0;
}
.entry-meta .image-post {
	background: url(../images/postformats/image.png) no-repeat scroll 0% 50%;
	padding: 8px 22px 8px 0;
}
.entry-meta .quote-post {
	background: url(../images/postformats/quote.png) no-repeat scroll 0% 50%;
	padding: 8px 22px 8px 0;
}
.entry-meta .status-post {
	background: url(../images/postformats/status.png) no-repeat scroll 0% 50%;
	padding: 8px 22px 8px 0;
}
.entry-meta .video-post {
	background: url(../images/postformats/video.png) no-repeat scroll 0% 50%;
	padding: 8px 22px 8px 0;
}


#content > article.format-aside .entry-content ,
#content > article.format-quote .entry-content {
	padding: 1.5em 2% 0 2%;
}

/* =Aside
----------------------------------------------- */
.singular .format-aside .entry-title {
	display: block;
}
.format-aside .entry-content {
	padding: 0;
}
.singular .format-aside .entry-content {
	padding: 1.625em 0 0;
}


/* =Audio
----------------------------------------------- */
.format-audio blockquote, .format-audio p {
	clear: both;
}

/* =Image
----------------------------------------------- */
#content > article.format-image div.entry-content + p {
	margin: 0 auto;
}
#content > article.format-image .entry-content p {
	margin-bottom: 0;
}


/* =Gallery
----------------------------------------------- */
.format-gallery .gallery-thumb {
	float: left;
	display: block;
	margin: .375em 1.625em 0 0;
}


/* =Status
----------------------------------------------- */
.singular .format-status .entry-title {
	display: block;
}
#content > article.format-status .entry-content {
	padding: 1.625em 2% 0 2%;
}
#content > article.format-status div.avatar {
	display: inline-block;
	float: left;
	margin-bottom: 1.625em;
}
#content > article.format-status div.avatar + p {
	display: inline-block;
	float: left;
	width: 80%;
}
.format-status img.avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	float: left;
	margin: 4px 10px 2px 0;
	padding: 0;
}


/* =Quote
----------------------------------------------- */
.format-quote blockquote {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: url(../images/postformats/blockquote.png) 0% 10% no-repeat scroll;
	color: #373737;
	font-size: 18px;
	font-style: italic;
	margin: 0 2%;
	padding: 20px 0 0 50px;
	border-left: none;
}
.format-quote blockquote + p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #373737;
	font-size: 14px;
	text-align: left;
	margin: 1.625em 2%;
	padding: 0 0 0 50px;
}
.format-quote blockquote + p:before {
	content: '\2014';
	padding: 0 5px 10px 5px;
}
blockquote cite {
	margin: 0 auto;
}
.format-quote span.lquote {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 500%;
	color: #555;
}
.format-quote span.rquote {
	font-family: Georgia,"Bitstream Charter",serif;
	font-size: 500%;
	color: #555;
}


/* =Chat
----------------------------------------------- */
.bricks-chat {
	margin: 0;
	list-style: none;
	line-height: 1.625em;
	padding: 1.625em;
}
.bricks-chat li {
	color: #373737;
}
.bricks-chat .chat-even strong {
	color: #1B8BE0;
}


/* =Audio
----------------------------------------------- */
.format-audio .audio-icon {
	float: left;
	position: relative;
}
.format-audio .audio-icon + object { 
	margin: 0;
	width: 77.5%;
	display: inline-block;
}
.single .audio-icon + object { 
	margin: 0;
	width: 76.5%;
	display: inline-block;
}


/* =Link
----------------------------------------------- */
.link-content {
	background: #cc6600; /* Show solid color for older browsers */
	background: -moz-linear-gradient(#ff9966, #CC6600) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #ff9966, #cc6600);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff9966), to(#cc6600)); /* older webkit syntax */
	background: -webkit-linear-gradient(top, #ff9966, #cc6600);
	min-height: 45px;
	padding: 1% 2% 0 2%;
}
.single .link-content {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
}
.author.archive #content > article.format-link .entry-content {
	background: #FFFFFF;
}
.format-link .link-icon + p {
	color: #ff6633;
	font-family: "Georgia", Times, serif;
	margin: 10px 0;
	font-size: 150%;
	text-shadow: 1px 1px 1px #ff6633;
	vertical-align: middle;
}
.format-link .entry-content a {
	color: #f0f0f0;
	text-decoration: none;
}
.author.archive .format-link a {
	color: #1E598E;
	text-decoration: none;
}
.format-link .link-icon {
	background: url(../images/postformats/chainlink.png) 0% 70% no-repeat scroll;
	padding: 20px;
	margin: 0 2%;
	float: left;
	position: relative;
}
.format-link .link-icon + p { 
	margin: 0;
	width: 77.5%;
	float: left;
}
.format-link .entry-title,
.format-link .entry-header .comments-link {
}
.singular .format-link .entry-title {
	display: block;
}
.format-link .entry-content {
	padding: 0;
}
.singular .format-link .entry-content {

	padding: 1.625em 0 0;
}

/* =Image
----------------------------------------------- */
.indexed.format-image .entry-header {
	min-height: 61px; /* Prevent the comment icon from colliding with the image when there is no title */
}
.indexed.format-image .entry-content {
	padding-top: 0.5em;
}
.indexed.format-image p,
.indexed.format-image p img {
	margin-bottom: 0;
}
.indexed.format-image footer.entry-meta {
	background: #ddd;
	margin-top: -7px;
	padding: 20px 30px;
	overflow: hidden;
}
.indexed.format-image div.entry-meta {
	display: inline-block;
	float: left;
	width: 35%;
}
.indexed.format-image div.entry-meta + div.entry-meta {
	float: none;
	width: 65%;
}
.indexed.format-image .entry-meta span.cat-links,
.indexed.format-image .entry-meta span.tag-links,
.indexed.format-image .entry-meta span.comments-link {
	display: block;
}
.indexed.format-image footer.entry-meta a {
	color: #444;
}
.indexed.format-image footer.entry-meta a:hover {
	color: #fff;
}
#content .indexed.format-image img {
	border: none;
	max-width: 100%;
	padding: 0;
}
.indexed.format-image .wp-caption {
	background: #111;
	margin-bottom: 0;
	max-width: 96%;
	padding: 11px;
}
.indexed.format-image .wp-caption .wp-caption-text {
	color: #ddd;
}
.indexed.format-image .wp-caption .wp-caption-text:before {
	color: #444;
}
.indexed.format-image a:hover img {
	opacity: 0.8;
}

/* =Attachments
----------------------------------------------- 
.image-attachment div.attachment {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin: 0 -8.9% 1.625em;
	overflow: hidden;
	padding: 1.625em 1.625em 0;
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto 1.625em;
	max-width: 100%;
}
.image-attachment div.attachment a img {
	border-color: #f9f9f9;
}
.image-attachment div.attachment a:focus img,
.image-attachment div.attachment a:hover img,
.image-attachment div.attachment a:active img {
	border-color: #ddd;
	background: #fff;
}
.image-attachment .entry-caption p {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
} */